.header-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;


}


.header-btns {
    border: none;
    background: none;
  
    i {
        color: #0074D9;
    }
}

.settings {
    width: 85% !important; // <-- overrides the default width for semantic ui sidebar
}


