.header-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;


    .header-btns {
        border: none;
        background: none;
      
        i {
            color: #0074D9;
        }
    }
}


