*{
  color: #333;
}
.content{
  width: 1100px;
  margin: 100px auto;
}

.banner{
  display: flex;
  .text{
    margin: 0 40px;
    h1{
      font-size: 2.5em;
    }
    button{
      width: 195px;
    margin: 0;
    background-color: #01BAEF;
    a{
      color: #FFF;
    }
    &:hover{
      background-color: #01BAEF;
      transition: 0.7s ease;
    }
    }
  }
}
.arrow.icon.right{
  color: #FFF;
}

.mission-statement{
  background-color: #FFBF69;
  height: 300px;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.features{
  margin: 100px 40px 30px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  div{
    margin: 0 auto;
  }
}
.create, .complete{
  h2{
    margin-left: 10px;
  }
}

.wrapper{
  background-color: #DFE6ED;
  margin-bottom: 80px;
  h1{
    color: #FF9F1C;
  }
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
  height: 200px;
}

.marketing-nav{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 150px;
}

.nav-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  button.ui.primary.button{
    width: 195px;
    margin: 0;
    background-color: #01BAEF;
    a{
      color: #FFF;
    }
    &:hover{
      transition: 0.7s ease;
    }
  }
}

.nav-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    a{
      font-size: 1.2em;
      text-decoration: none;
      color: #4B5C6B;
      line-height: 1.5em;
      position: relative;
      border-bottom: 2px bottom #DFE6ED;
      height: 30px;
      &:hover{
        color: #4B5C6B;
      }
      &:after{
        bottom: -1px;
        content: "";          
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #FF9F1C;
        -webkit-transition: width 0.3s ease, left 0.3s ease 0s;
        transition: width 0.3s ease, left 0.3s ease 0s;
        width: 0;
      }
      
      
      &:hover{
        &:after{
          width: 100%;
          left: 0;
        }
      }
    }
}

.active{
  color: #4B5C6B!important;
  border-bottom: 2px solid #FF9F1C;
}

.feature-description{
    font-size: 1.5em;
    width: 1100px;
    margin: 0 auto 80px;
}

footer{
  p{
    font-size: 1em;
    background-color: #DFE6ED;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}