section {
  &.hex-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    //display: flex;
    article {
      &.hexagon {
        .hexagon-inner {
          clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
          // display: block;
        }
      }
    }
  }
}
