.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  .dashboard-btn {
    align-self: flex-start !important;
  }
}

.initials {
  display: inline-block;
  background-color: $tertiary;
  color: #fff;
  padding: 6px;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
}

.ui.button.addChild-btn {
  background-color: $secondary;
  color: #fff;

  &:hover {
    background-color: #248b81;
  }
}
