.ui.sidebar.menu {
  padding-top: 130px;
  border: none;
}

.ui.segment {
  border: none;
}

.ui.menu .item {
  color: #4b5c6b;
  padding: 20px;
  text-align: left;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;

  &:hover {
    background: #dfe6ed;
  }
}

.ui.vertical.menu .item:before {
  height: 0px;
}

.ui.vertical.menu .active.item {
  background: #dfe6ed;
  border-left: 2px solid #ff9f1c;
}

.ui.primary.button,
.ui.primary.buttons .button {
  background-color: #01baef;
}

.ui.vertical.menu .active.item .ui.primary.button {
  background: #01baef;
}

.ui.primary.button:hover,
.ui.primary.buttons .button:hover {
  background: #01baef;
}

.ui.primary.button.logout-btn {
  width: 90%;
  margin-left: 6%;
  margin-top: 20px;
}

.close-sidebar {
  cursor: pointer;
}

.ui.wide.left.sidebar,
.ui.wide.right.sidebar {
  width: 300px;
}
